.product {
    background-color: rgb(43, 43, 43);
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: none;
    color: var(--text-color);
    max-width: 220px;
    min-width: 220px;
    width: 220px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    cursor:pointer;
    text-decoration: none;

    transition-property: scale;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}
.product:hover{
    scale: 1.03;
}

.productSpace {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: rgb(255, 255, 255, 0.5);
    color: black;
    display: flex;
    place-content: center;
    place-items: center;
    border-radius: 5px;
}

.productName {
    font-weight: 600;
    margin-block: 5px;
    font-size: 110%;
}

.productComment {
    margin-top: 5px;
    font-size: 100%;
}