.productView {
    display: flex;
    flex-direction: column;
    /* place-items: center; */
    /* place-content: center; */
    width: 90%;
    margin-top: 5%;
    overflow: auto;
    color: var(--text-color);
}